/***** BOX MODEL + CSS RESET *****/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/***** LOADER *****/
.loader {
  border: 16px solid rgb(187, 193, 255);
  border-top: 16px solid rgb(44, 45, 59);
  border-radius: 100%;
  width: 260px;
  height: 260px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 44%;
  top: 30%;
  transform: translateX(-50%);
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/***** CSS *****/
body {
      background-color: rgb(187, 193, 255);
  }

header {
    min-height: 80px;
    text-align: center;
    background-color: rgb(235, 232, 223);
  }

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

nav a {
    font-size: 2rem;
    padding: 1.2rem 0;
    text-decoration: none;
  }

h1,h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(44, 45, 59);
}

h1 {
  padding: 2rem;
}

h2 {
  font-size: 1.3rem;
  padding: 2rem;
  text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 1260px;
    background-color: #fff;
}

.flex-col {
  flex-flow: column;
}

.error {
  padding: 4rem;
  border: 2px solid red;
  background-color: rgb(247, 224, 224);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: red;
}

.oops {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  display: block;
  padding-bottom: 2rem;
  text-decoration: underline;
}

.small {
  padding-top: 2rem;
  font-size: 1rem;
}

.ladder {
  margin: 0 auto;
}

.ladder a {
  text-decoration: none;
}

.ladder a:hover {
  text-decoration: underline;
}

table {
  font-size: 1.2rem;
  padding: 2rem;
  text-align: left;
}

thead {
  font-size: 1.3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  background-color: black;
}

thead th {
  padding: 2rem;
}

tbody:before {
  content:"@";
  display:block;
  line-height:12px;
  text-indent:-99999px;
}

td {
  padding: 2rem;
  min-width: 100px;
  text-align: left;

}

.bg-grey {
  background-color:rgb(187, 193, 255);
}

a:hover {
  text-decoration: underline;
}

.allchars {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  border: 2px solid rgb(44, 45, 59);
  padding: 2rem;
  margin-bottom: 1rem;
  width: 400px;
}

.featured {
  border: 4px solid greenyellow;
  min-width: 912px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin-top: 1rem;
}

hr {
  width: 80%;
  margin: 2rem 0;
}

p {
  color: black;
}

.dead, .offline {
  color: red;
  text-transform: uppercase;
}

.offline, .online {
  margin-right: 1rem;
}

.alive, .online {
  color: green;
  text-transform: uppercase;
}

.center {
  text-align: center;
}


/***** CONTACT *****/
.contact--header {
  margin: 0 0 20px;
  font-weight: 400;
  color: #1c87c9;
}

.docs {
  padding-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 93px);
  background: #1c87c9;
}

form {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5; 
  background: #f5f5f5; 
}

form .fas {
  color: red;
  font-size: 2rem;
}

label {
  display: inline-block;
  padding-bottom: .5rem;
  
}

.fas {
  margin: 25px 10px 0;
  font-size: 72px;
  color: #fff;
}

.fa-envelope {
  transform: rotate(-20deg);
}

.fa-at , .fa-mail-bulk{
  transform: rotate(10deg);
}

input, textarea {
  width: calc(100% - 50px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
}

input::placeholder {
  color: #666;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #1c87c9; 
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

button:hover {
  background: #2371a0;
}

.form--head {
  display: flex;
  justify-content: space-between;
}

.form--message {
  font-size: 1.3rem;
  align-self: center;
  padding: 32px;
  margin: 0 120px 20px 0;
}

.form--message__success {
  border: 2px solid darkgreen;
}

.form--message__error {
  border: 2px solid red;
}


  